// В этом файле должны быть стили для БЭМ-блока features, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.features {
  @include container;
}

/*.features__title {
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  font-weight: bold;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 150px;
    height: 150px;
    background: url("../img/features__title.svg") no-repeat center;
    background-size: 100% 100%;
    !*@include media((
            left: (768: 43vw, min-1427: 420px),
            bottom: (768: calc(-200px - 11vw)),
            width:(768: 400px),
            height: (768: 228px)
    ));*!
  }
}*/

.features__text {
  max-width: 390px;
}
