// В этом файле должны быть стили для БЭМ-блока logo, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.logo__wrap {
  margin-top: 70px;
  @include media((
          margin-top: (320: 20px,768: 45px)
  ));
}
.logo__link{
  cursor: pointer;
  color: #1D2B4C;
  display: flex;
  align-items: center;

}
.logo__title{
  margin-left: 5px;
  font-weight: bold;
  font-size: 16px;
}