// В этом файле должны быть стили для БЭМ-блока background-svg-head_ice, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.background-svg-head_ice {
  overflow: visible;
  position: relative;
  z-index: -3;
  margin-top: calc(-30vw - 90px);
  max-width: 1375px;
  max-height: 700px;

  @media (min-width: 1325px) {
    margin-top: -485px;
  }
}
