%svg-common {
	background: url("../img/svgsprite.css.svg") no-repeat;
}

._svg-icon-accordion--img--accordion-arrow {
	@extend %svg-common;
	background-position: 35.95505617977528% 0;
}

._svg-icon-accordion--img--accordion-arrow-dims {
	width: 32px;
	height: 19px;
}

._svg-icon-accordion--img--cd-icons {
	@extend %svg-common;
	background-position: 71.91011235955057% 28.20731707317073%;
}

._svg-icon-accordion--img--cd-icons-dims {
	width: 32px;
	height: 8px;
}

._svg-icon-features--img--features__title {
	@extend %svg-common;
	background-position: 0 49.23834436067088%;
}

._svg-icon-features--img--features__title-dims {
	width: 32px;
	height: 25.01px;
}

._svg-icon-head--img--laptop {
	@extend %svg-common;
	background-position: 35.95505617977528% 46.2762111352133%;
}

._svg-icon-head--img--laptop-dims {
	width: 32px;
	height: 20.85px;
}

._svg-icon-logo--img-- {
	@extend %svg-common;
	background-position: 100% 0;
}

._svg-icon-logo--img---dims {
	width: 25px;
	height: 21px;
}

._svg-icon-tabs--img--design {
	@extend %svg-common;
	background-position: 0 0;
}

._svg-icon-tabs--img--design-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-tabs--img--gardening {
	@extend %svg-common;
	background-position: 0 98.29310344827587%;
}

._svg-icon-tabs--img--gardening-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-tabs--img--green-roofs {
	@extend %svg-common;
	background-position: 35.95505617977528% 98.29310344827587%;
}

._svg-icon-tabs--img--green-roofs-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-tabs--img--landing {
	@extend %svg-common;
	background-position: 71.91011235955057% 98.29310344827587%;
}

._svg-icon-tabs--img--landing-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-tabs--img--landscaping {
	@extend %svg-common;
	background-position: 71.91011235955057% 0;
}

._svg-icon-tabs--img--landscaping-dims {
	width: 32px;
	height: 23.13px;
}

._svg-icon-tabs--img--vicons {
	@extend %svg-common;
	background-position: 71.91011235955057% 39.24114458590697%;
}

._svg-icon-tabs--img--vicons-dims {
	width: 32px;
	height: 10.67px;
}

