%svg-common {
	background: url("../img/svgsprite.css.svg") no-repeat;
}

._svg-icon-accordion--img--accordion-arrow {
	@extend %svg-common;
	background-position: 27.586206896551722% 0;
}

._svg-icon-accordion--img--accordion-arrow-dims {
	width: 32px;
	height: 19px;
}

._svg-icon-accordion--img--cd-icons {
	@extend %svg-common;
	background-position: 72.25% 42.91596638655462%;
}

._svg-icon-accordion--img--cd-icons-dims {
	width: 32px;
	height: 8px;
}

._svg-icon-bg-ice-bottom--img--bottom-bg-ice1 {
	@extend %svg-common;
	background-position: 0 20.672218917311124%;
}

._svg-icon-bg-ice-bottom--img--bottom-bg-ice1-dims {
	width: 32px;
	height: 26.14px;
}

._svg-icon-bg-ice-bottom--img--bottom-bg-ice2 {
	@extend %svg-common;
	background-position: 27.586206896551722% 20.481335952848724%;
}

._svg-icon-bg-ice-bottom--img--bottom-bg-ice2-dims {
	width: 32px;
	height: 25.2px;
}

._svg-icon-content-bg--img--content-bg {
	@extend %svg-common;
	background-position: 49.92589125516811% 0;
}

._svg-icon-content-bg--img--content-bg-dims {
	width: 19.81px;
	height: 32px;
}

._svg-icon-features--img--features__title {
	@extend %svg-common;
	background-position: 0 46.07314442592411%;
}

._svg-icon-features--img--features__title-dims {
	width: 32px;
	height: 25.01px;
}

._svg-icon-form-subscribe--img--form-subscribe__title {
	@extend %svg-common;
	background-position: 72.25% 0;
}

._svg-icon-form-subscribe--img--form-subscribe__title-dims {
	width: 32px;
	height: 25.31px;
}

._svg-icon-form-subscribe--img--mail {
	@extend %svg-common;
	background-position: 72.25% 25%;
}

._svg-icon-form-subscribe--img--mail-dims {
	width: 32px;
	height: 25.76px;
}

._svg-icon-head--img--laptop {
	@extend %svg-common;
	background-position: 0 0;
}

._svg-icon-head--img--laptop-dims {
	width: 32px;
	height: 20.85px;
}

._svg-icon-logo--img-- {
	@extend %svg-common;
	background-position: 26.016260162601625% 67.9245283018868%;
}

._svg-icon-logo--img---dims {
	width: 25px;
	height: 21px;
}

._svg-icon-news--img--news {
	@extend %svg-common;
	background-position: 0 68.63679694947568%;
}

._svg-icon-news--img--news-dims {
	width: 32px;
	height: 22.1px;
}

._svg-icon-tabs--img--design {
	@extend %svg-common;
	background-position: 99.83620689655173% 0;
}

._svg-icon-tabs--img--design-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-tabs--img--gardening {
	@extend %svg-common;
	background-position: 99.83620689655173% 33.68421052631579%;
}

._svg-icon-tabs--img--gardening-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-tabs--img--green-roofs {
	@extend %svg-common;
	background-position: 0 99.05263157894737%;
}

._svg-icon-tabs--img--green-roofs-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-tabs--img--landing {
	@extend %svg-common;
	background-position: 27.586206896551722% 99.05263157894737%;
}

._svg-icon-tabs--img--landing-dims {
	width: 32px;
	height: 32px;
}

._svg-icon-tabs--img--landscaping {
	@extend %svg-common;
	background-position: 27.586206896551722% 45.23924135939154%;
}

._svg-icon-tabs--img--landscaping-dims {
	width: 32px;
	height: 23.13px;
}

._svg-icon-tabs--img--vicons {
	@extend %svg-common;
	background-position: 99.83620689655173% 55.0159030344709%;
}

._svg-icon-tabs--img--vicons-dims {
	width: 32px;
	height: 10.67px;
}

