// В этом файле должны быть стили для БЭМ-блока footer, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.footer {
  @include container;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 140px;
  padding-bottom: 140px;

  @media (max-width: 1140px) {
    flex-direction: column;
    align-items: center;
  }
}

